<div class="container">
  <h1></h1>
  <div class="row">
    <% @computers.each do |computer| %>
      <div class="col-6 col-md-4">
        <div class="card">
          <%= image_tag computer.photo_url , class: "card-img-top" %>
          <div class="card-body">
            <h5 class="card-title"><%= computer.name %></h5>
            <p class="card-text"><%= computer.category.name %></p>
           <div class="card-footer d-flex">
            <div class="card-computer-pricing text-success">
              <h5 id="prix"><%= computer.price %>€</h5>
            </div>
            <%= link_to computer_path(computer.id), class:"btn btn-ghost-revert" do %>
              <i class="fas fa-shopping-cart"></i>
            <% end %>
          </div>
         </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

