<div class="container py-3">
  <div class="row">
    <div class="col-sm-12 col-md-6">
      <%= image_tag(@computer.photo_url, width: '100%') %>
    </div>
    <div class="col-sm-12 col-md-6">
      <h1><%= @computer.name %></h1>
      <p>Some awesome description of our amazing computer.</p>
      <p>Amount: <%= @computer.price %>€</p>
      <%= form_tag orders_path do %>
       <%= hidden_field_tag 'computer_id', @computer.id %>
       <%= submit_tag 'Purchase', class: 'btn btn-primary' %>
      <% end %>
    </div>
  </div>
</div>